i {
  font-family: 'tomorrow' !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  font-variant: normal;
}

.i-bell::before {
  content: '\e900';
}

.i-store::before {
  content: '\e901';
}

.i-bookmark::before {
  content: '\e902';
}

.i-bookmark-filled::before {
  content: '\e903';
}

.i-caret::before {
  content: '\e904';
}

.i-cart::before {
  content: '\e905';
}

.i-check::before {
  content: '\e906';
}

.i-chevron::before {
  content: '\e907';
}

.i-close::before {
  content: '\e908';
}

.i-community::before {
  content: '\e909';
}

.i-expert::before {
  content: '\e90a';
}

.i-lock::before {
  content: '\e90b';
}

.i-menu::before {
  content: '\e90c';
}

.i-new::before {
  content: '\e90d';
}

.i-search::before {
  content: '\e90e';
}

.i-star::before {
  content: '\e90f';
}
